details {
    padding: 0.6rem 1rem;
    background: var(--nc-lk-2);
    border: 2px solid var(--nc-bg-2);
    border-radius: 8px;
    transition: 300ms ease-in-out;
    width: fit-content;
  }
  
  details[open] {
    padding-bottom: 0.75rem;
    width: fit-content;
  }

.posts-list .post.main:not(:last-of-type) {
    border-bottom: 3px dashed var(--nc-ac-1);
}

.with-excerpt .post.main {
    padding-bottom:1em;
    margin-bottom:2em;
}

thead th {
    /* background: #000; */
    /* color: #FFF; */
    /* border-radius: 5px 5px 0 0 */
}

.date {
    color: var(--nc-lk-2);
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 0.9em;
    line-height: 0.5em;
}

.normal {
    font-weight: normal
}

h1 a {
    color: var(--nc-tx-2);
}

h1 a:hover {
    color: var(--nc-tx-2);
}

button.outline {
    border: 2px solid #000;
    background: white;
    color: #000
}

button.outline:hover {
    background: #000;
    border: 2px solid #000;
    color: white;
    transition: 200ms ease-in-out;
    cursor: pointer
}

button.lightgrey {
    background: var(--nc-lk-2);
    color: #FFFFFF;
    font-family: Righteous;
    border: 0;
    border-radius: 4px 25px 25px 4px;
    box-shadow: inset 0 0 3px #00000099;
    text-shadow: 1px 1px 2px #00000099;
}

button.lightgrey:hover {
    background: var(--nc-lk-1);
    transition:250ms ease-in-out;
    cursor: pointer;
}

.post:not(.single)>h2 {
    font-family: 'Righteous', display;
    font-size: 1.03rem;
}

hr {
    padding-top: 0em;
    margin-bottom: 1.5em;
    width: 90%;
    border: none;
    border-top: 3px dotted var(--nc-lk-2);
}

.post-header {
    /* display: flex; */
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1em;
    flex-flow: column
}


.tags-line {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background: repeating-linear-gradient(45deg, #FFBE0B 10px, #FFBE0B 20px, #ffcc3e 20px, #ffcc3e 30px);
    padding: 0.15em 0.6em;
    font-size: 0.8em !important;
    font-weight: normal !important;
    border-radius: 4px;
    color: #000000;
    margin-right: 6px !important;
    margin-bottom: 6px !important;
    box-shadow: inset 0 0 3px #00000099;
    text-shadow: 1px 1px 2px #00000099;
}

.tag:hover {
    color: #000000;
    text-shadow: 1px 1px 2px #00000099;
}

ul.posts-list {
    margin: 0;
    padding: 10px 0 0 0;
    list-style-type: none
}

.post.main>div {
    /* display: flex; */
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    list-style-type: none;
    margin: 0;
    padding: 0.45em 0;
    margin-bottom:1em;
}

.post.main .date {
    justify-content: start;
    font-size: 14px;
    white-space: nowrap;
    line-height: 0.5;
    min-width: 48px;
    color: var(--nc-lk-2);
}

.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1em;
    justify-content: flex-start
}

.brand {
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    filter: drop-shadow(3px 3px 3px #00000066);
    max-width: none;
    border: none;
    padding: 0px;
    border-radius: 0px;
    background-color: #ffffff00;
}

.author {
    display: flex;
    align-items: center;
    border: 2px solid var(--nc-bg-2);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    background: var(--nc-bg-1);
    filter: drop-shadow(1px 1px 3px #00000099);
    border-radius: 0px;
    background: var(--diagonales);
}

.author img {
    width: 96px;
    height: 96px;
    object-fit: contain;
    border-radius: 100%;
    border: 2px solid var(--nc-tx-1);
    margin-right: 15px;
    padding: 2px;
    background: var(--nc-bg-1);
    filter: drop-shadow(1px 1px 2px #00000099);
    outline: none;
}

ul.related:not(:empty):before {
    content: 'Artículos relacionados:';
    margin-bottom: 18px;
    margin-left: -1em;
    font-family: 'Righteous', display;
    font-size: 1.40rem;
}
.header a {
    width:fit-content;
    margin-top: 15px;
}
ul.nav-menu {
    width:fit-content;
    padding:0;
    list-style: none;
    display: flex;
    flex-flow:row;
    align-self: center;
    gap: 0.8em 0.5em;
}
.nav-menu-social {
    width:fit-content;
    padding:0;
    list-style: none;
    display: flex;
    flex-flow:row;
    align-self: center; gap:1em;
}

.nav-menu a:hover {
    text-decoration: none;
    background: none;
    text-shadow: 1px 1px 2px #00000099 !important;
}

.nav-menu-movil {
    display:none;
    filter: drop-shadow(3px 3px 3px #00000099);
    text-shadow: 1px 1px 2px #00000099;
    background: repeating-linear-gradient(135deg, #3A86FF 10px, #3A86FF 20px, #5496ff 20px, #5496ff 30px);
}

.ml-auto {
    margin-left:auto;
}
@media (max-width:768px) {
    .nav-menu-movil {
        display:flex;
        margin: 2rem 0;
    }
    ul.nav-menu {
        margin-left:0;
        flex-flow:column;
        justify-self:start;
    }
    .only-desktop {
        display:none!important;
    }
}

/* AÑADIDOS */

/* Enlaces de artículos en negrita */
#content a {
  font-weight: bold;
}

.post.single a:hover {
  color: #000000;
  background-color: var(--nc-ac-1);
  border-radius: 2px;
}

/* Iconos del menú */
.menuicon {
    all: unset;
    height: 24px;
    filter: drop-shadow(1px 1px 2px #00000099);
    transform: none;
    transition: 250ms linear;
}


/* Botones del menú */
button.menu {
    background: var(--nc-bg-3);
    color: #FFFFFF;
    font-family: Righteous;
    letter-spacing: 2px;
    border: 0;
    border-radius: 4px 15px 4px 15px;
    box-shadow: inset 0 0 3px #00000099;
    text-shadow: 1px 1px 2px #00000099;
    transition: 250ms linear;
}

button.menu:hover {
    background: var(--nc-ac-1);
    cursor: pointer;
}

button.menu:hover .menuicon {
  transform: scale(1.2) !important;
}

/* Estilo de la paginación */
.pagination {
    Font-family: Righteous;
    font-weight:400 !important;
    margin-top: -3em
}

.izq {
    float:left;
}

.der {
    float:right;
}

/* Formato específico para imágenes sin borde blanco interior */
.img-no-border {
    border-radius: 12px;
    border: 6px solid #FFFFFF;
    padding: 2px;
    background-color: #000000;
    margin-bottom: 16px;
}

/* Iconos Creative Commons */
.cc {
    all: unset;
    height: 1.5rem;
    vertical-align: middle;
}

/* Altura mínima de la página de 100% (para que se vea bien el degradado de fondo) */
html {
  min-height: 100vh;
}
