
/* New.css */
:root {
    --nc-font-sans: Ubuntu, 'Inter', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --nc-font-mono: 'Ubuntu Mono', Consolas, monaco, 'Liberation Mono', 'Courier New', Courier, monospace;
    --nc-tx-1: #000000;
    --nc-tx-2: #FFFFFF;
    --nc-bg-1: #FFFFFF;
    --nc-bg-2: #000000;
    --nc-bg-3: #FB5607;
    --nc-bg-sh: #00000066;
    --nc-lk-1: #FB5607;
    --nc-lk-2: #3A86FF;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #FFBE0B;
    --nc-ac-tx: #FFFFFF;
    --diagonales: repeating-linear-gradient(45deg, #FFFFFF 10px, #FFFFFF 20px, #ECECEC 20px, #ECECEC 30px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --nc-font-sans: 'Ubuntu';
        --nc-tx-1: #FFFFFF;
        --nc-tx-2: #000000;
        --nc-bg-1: #000000;
        --nc-bg-2: #FFFFFF;
        --nc-bg-3: #FB5607;
        --nc-bg-sh: #00000066;
        --nc-lk-1: #FB5607;
        --nc-lk-2: #3A86FF;
        --nc-lk-tx: #000000;
        --nc-ac-1: #FFBE0B;
        --nc-ac-tx: #000000;
        --diagonales: repeating-linear-gradient(45deg, #000000 10px, #000000 20px, #1e1e1e 20px, #1e1e1e 30px);
    }
}

* {
    margin: 0;
    padding: 0
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
iframe,
img,
input,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
    margin-bottom: 1rem
}

button,
html,
input,
select {
    font-family: var(--nc-font-sans)
}

body {
    margin: 0 auto;
    max-width: 680px;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    background: var(--nc-bg-1);
    color: var(--nc-tx-1);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.03rem;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, #FB560799, var(--nc-bg-1) 200px, var(--nc-bg-1) calc(100% - 200px), #3A86FF99 calc(100%))
}

::selection {
    background: var(--nc-ac-1);
    color: var(--nc-ac-tx)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    color: var(--nc-tx-1);
    padding-top: 0.875rem
}

h1,
h2,
h3 {
    color: var(--nc-tx-1);
    padding-bottom: 2px;
    margin-bottom: 8px
}

h4,
h5,
h6 {
    margin-bottom: 0.3rem
}

h1 {
    font-family: 'outfit', display;
    font-size: clamp(20px, 14.6vw, 7.35rem);
    text-shadow: 3px 3px 3px #00000066;
    text-transform: lowercase;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.06em var(--nc-bg-3);
    text-stroke: 0.06em var(--nc-bg-3);
    paint-order: stroke fill;
    padding-bottom: 10px !important;
    border-bottom: 5px dotted var(--nc-lk-2) !important;
}

h2 {
    font-family: 'Righteous', display;
    font-size: 1.85rem;
    font-weight: normal;
    border-bottom: 3px solid var(--nc-bg-3);
    padding: 15px 20px 5px 20px;
    margin: 0px -20px 10px -20px;
}

h3 {
    font-family: 'Righteous', display;
    font-size: 1.30rem;
    font-weight: normal;
    border-bottom: 2px solid var(--nc-lk-2);
    padding: 20px 10px 3px 10px;
    margin: 0px -10px 5px -10px;
}

h4 {
    font-family: 'Righteous', display;
    font-weight: normal;
    font-size: 1.15rem;
    border-bottom: 1px solid var(--nc-ac-1);
    padding: 20px 5px 3px 5px;
    margin: 0px -5px 5px -5px;
}

h5 {
    font-size: 1rem
}

h6 {
    font-size: 0.875rem
}

a {
    color: var(--nc-lk-1);
    text-decoration: none
}

a:hover {
    color: var(--nc-lk-2);
}

abbr:hover {
    cursor: help
}

blockquote {
    font-size: 1.2rem;
    padding: 1.5rem;
    color: var(--nc-tx-2);
    background: var(--nc-bg-2);
    border-left: 5px solid var(--nc-bg-3);
    border-radius: 4px;
    width: 75%;
    margin: 20px auto;
    filter: drop-shadow(1px 1px 2px #00000099);
}

abbr {
    cursor: help
}

blockquote *:last-child {
    padding-bottom: 0;
    margin-bottom: 0
}

header {
    padding: 1rem 1.5rem 0rem 1.5rem;
    margin: -3rem calc(0px - (50vw - 50%)) 1.5rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

header h1,
header h2,
header h3 {
    padding-bottom: 0;
    border-bottom: 0
}

header>*:first-child {
    padding-bottom: 20px;
}

header>*:last-child {
    margin-bottom: 0;
    margin-top: auto
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-size: 1rem;
    display: inline-block;
    padding: 6px 12px;
    color: var(--nc-tx-2);
    background: var(--nc-bg-2);
    border-radius: 4px;
    cursor: pointer;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
    cursor: default;
    opacity: 0.5;
    cursor: not-allowed
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
    background: var(--nc-bg-3);
    color: var(--nc-tx-1);
    transition:500ms ease-in-out;
    cursor: pointer;
}

code,
kbd,
pre,
samp {
    font-family: var(--nc-font-mono)
}

code,
kbd,
pre,
samp {
    background: var(--nc-bg-2);
    border: 0;
    color: var(--nc-tx-2);
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 0.9rem;
    outline: 2px solid var(--nc-tx-2);
    outline-offset: -5px;
    filter: drop-shadow(1px 1px 2px #00000099);
}

kbd {
    border-bottom: 3px solid var(--nc-bg-3)
}

pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto
}

pre code {
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0
}

code pre {
    display: inline;
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0
}

details {
    padding: 0.6rem 1rem;
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px
}

summary {
    cursor: pointer;
    font-family: Righteous;
    font-size: 1.45rem;
    line-height: 3;
    margin: -25px 0 -25px 0;
    color: #fff;
}

details[open] {
    padding-bottom: 0.75rem
}

details[open] summary {
    margin-bottom: -6px
}

details[open]>*:last-child {
    margin-bottom: 0
}

dt {
    font-weight: bold
}

dd::before {
    content: '→ '
}

hr {
    border: 0;
    border-bottom: 1px solid var(--nc-bg-3);
    margin: 1rem auto
}

fieldset {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px
}

legend {
    padding: 0.5rem
}

table {
    border-collapse: collapse;
    width: 100%
}

td,
th {
    /* border: 1px solid var(--nc-bg-3); */
    /* text-align: left; */
    /* padding: 0.5rem */
}

th {
    /* background: var(--nc-bg-2) */
}

tr:nth-child(even) {
    background: var(--nc-bg-2)
}

table caption {
    font-weight: bold;
    margin-bottom: 0.5rem
}

textarea {
    max-width: 100%
}

ol,
ul {
    padding-left: 1.4rem;
    list-style-type: square;
}

li {
    margin-top: -0.3rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

mark {
    padding: 3px 6px;
    background: var(--nc-ac-1);
    color: var(--nc-ac-tx)
}

input,
select,
textarea {
    padding: 6px 12px;
    margin-bottom: 0.5rem;
    background: var(--nc-bg-2);
    color: var(--nc-tx-2);
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

img {
    max-width: 75%;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 2px #00000099);
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
    background-color: #FFFFFF;
    outline: 2px solid black;
    outline-offset: -9px;
}

nav {
    width: 100%
}

nav ul {
    padding: 0
}

nav ul li {
    margin-right: 1em;
    display: inline-block
}
